<!DOCTYPE html>
<html lang="zn">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="http://unpkg.com/iview/dist/styles/iview.css">
    <script type="text/javascript" src="http://vuejs.org/js/vue.min.js"></script>
    <script type="text/javascript" src="http://unpkg.com/iview/dist/iview.min.js"></script>
    <title>iViewDemo</title>
</head>

<body>
    <div id="app">
        <i-button @click="Click">Click Me!</i-button>
        <!-- <Modal v-model="visible" title="Welcome">Welcome to iView</Modal> -->
        <!-- v-moderl="状态词自定义" -->
        <Modal v-model="statusable" title="Welcome">Welcome to iView</Modal>
        <Icon type="logo-apple" size="32px" />
    </div>
    <script>
        new Vue({
            el: '#app',
            data: {
                statusable: false
            },
            methods: {
                Click: function () {
                    this.statusable = true;
                }
            },
        })
    </script>
</body>

</html>